@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MNP Contact Management. Please click on Contact Details on the Navigation Bar to view the list of contacts and other operations.</h1>
</div>
